@media print, (max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/



    /*-------------
        Sidebar
    -------------*/



    /*-----------------
        Grid blocks
    -----------------*/
    .grid_blocks
    {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid_blocks .block.crash
    {
        grid-row: auto;
        grid-column: auto;
    }

    .grid_blocks .block.crash + .block
    {
        grid-column: 1 / 3;
    }


    .grid_blocks .block .bottom
    {
        margin-top: 30px;
    }


    .grid_blocks .block .title
    {
        font-size: 22px;
        line-height: 26px;
    }


    .grid_blocks .block .on_off
    {
        margin-top: 0;
    }

    .grid_blocks .block .on_off label
    {
        font-size: 22px;
        line-height: 30px;

        height: 30px;
        padding-right: 75px;
    }

    .grid_blocks .block .on_off label:before
    {
        width: 60px;
        height: 30px;
    }

    .grid_blocks .block .on_off label:after
    {
        top: 4px;
        right: 33px;

        width: 22px;
        height: 22px;
    }


    .grid_blocks .block .type
    {
        font-size: 22px;
        line-height: 26px;
    }


    .grid_blocks .block .amount .val
    {
        font-size: 48px;
        line-height: 48px;

        width: 144px;
        height: 48px;
    }


    .grid_blocks .block .percents
    {
        font-size: 38px;
        line-height: 38px;
    }


    .grid_blocks .block .status,
    .grid_blocks .block .season,
    .grid_blocks .block.crash .empty,
    .grid_blocks .block.crash .list,
    .grid_blocks .block .additionally
    {
        font-size: 18px;
        line-height: 22px;
    }


    .grid_blocks .block .type img
    {
        height: 32px;
    }



    /*------------
        Charts
    ------------*/
    .charts .block .info
    {
        display: flex;

        width: 100%;
        padding-right: 55px;

        cursor: pointer;

        justify-content: flex-start;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .charts .block .title
    {
        font-size: 22px;
        line-height: 26px;

        width: 100%;
    }

    .charts .block .temperature
    {
        font-size: 36px;
        line-height: 36px;
    }

    .charts .block .stats
    {
        font-size: 18px;
        line-height: 22px;

        margin-top: 10px;
        margin-left: 15px;
    }

    .charts .block .arrow
    {
        display: block;
    }


    .charts .block .chart
    {
        display: none;

        width: 100%;
        padding-top: 20px;
    }

    .charts .block.active .chart
    {
        display: block;
    }
}
